* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    padding: 25px 100px 25px 100px;
    display: flex;
    position: fixed;
    background-color: #c4c4c4c4;
}

.tabs {
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0 0 0 170px;
}

.tabs p {
    font-size: 20px;
    font-weight: 600;
}

.tabs p:nth-child(1) {
    color: #31C5A1;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.firstPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
}

.p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.buttonsForLoading {
    display: flex;
    gap: 8px;
    margin-top: 25px;
}

.loadingFromGooglePlay {
    background-color: #EEEAFF;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

.loadingFromAppStore {
    background-color: #EEEAFF;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

.loadingFromGooglePlay p:nth-child(1) {
    color: #545659;
}

.loadingFromGooglePlay p:nth-child(2) {
    color: #582EFF;
}

.additionForApple p:nth-child(2) {
    color: #582EFF;
    font-size: 25px;
    font-weight: 600;
}

.additionForApple p:nth-child(1) {
    color: #545659;
}

.secondPage {
    margin-top: 140px;
}

.textSecondPage p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #333333;
}

.textSecondPage p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    margin-top: 32px;
}

.secondPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    margin-top: 100px;
}

.thirdPage {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 30px 0 0 0;
    justify-content: center;
}

.howItWorksStep1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #c4c4c4c4;
    border-radius: 0px;
    width: 500px;
    height: 350px;

}

.note {
    height: 12px;
    background-color: #5D35FC;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.p3 {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
    margin: 0 0 30px 0;
}

.p4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-align: center;
}

.mainContent img {
    margin: 42px 0 50px 0;
}

.note2 {
    height: 12px;
    background-color: #F3895B;
}

.note3 {
    height: 12px;
    background-color: #4AC3A5;
}

.item {
    background-color: #31C5A1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0 130px 0;
    margin: 30px 0 0 0;
}


footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 160px;
    padding: 50px;
    width: 100%;
}

.firstColumnInFooter p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
}

.get-it-on {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.innerElementItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}