* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    background-color: transparent;
    padding: 25px 100px 25px 100px;
    display: flex;
    position: fixed;
}

.tabs {
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0 0 0 170px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.firstPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
}

.p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.buttonsForLoading {
    display: flex;
    gap: 8px;
    margin-top: 25px;
}

.loadingFromGooglePlay {
    background-color: #EEEAFF;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

.loadingFromAppStore {
    background-color: #EEEAFF;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

.loadingFromGooglePlay p:nth-child(1) {
    color: #545659;
}

.loadingFromGooglePlay p:nth-child(2) {
    color: #582EFF;
}

.additionForApple p:nth-child(2) {
    color: #582EFF;
    font-size: 25px;
    font-weight: 600;
}

.additionForApple p:nth-child(1) {
    color: #545659;
}

.secondPage {
    margin-top: 140px;
}

.textSecondPage p:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #333333;
}

.textSecondPage p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    margin-top: 32px;
}

.secondPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    margin-top: 100px;
}